@model _09_ViewModel.Models.VMs.StudentCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentCreateVM</h4>
<hr />
<form asp-action="Create" method="post">
    <p>Kurs Seçin</p>
    <select asp-items="@(new SelectList(Model.Course,"CourseId","CourseName"))" asp-for="@Model.Student.CourseId"></select>
    <p>Öğrenci Adı</p>
    <input asp-for="@Model.Student.Name" />
    <br />
    <P>Öğrenci Soyad</P>
    <input asp-for="@Model.Student.Surname" />
    <br />
    <input type="submit"  value="Gönder" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
