@using _04_MVC_FirstWebPage.Models
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>

    <body>
    <p>Burası Ana Sayfa</p>
    @model Product

    @Model.Id  @Model.Name @Model.Price
    </body>
    </html>
